*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover,.active:hover{
    opacity: 50%;
}
.container{
    margin: 0% 24px;
}
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
.logo{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 24px;
}
header{
    padding: 1em;
    background:white;
    position:sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
nav{
    padding-left: 1em;
}
p{
    padding-bottom: 1em;
}
h1{
    margin: 0%;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 78px;
}
h2{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 64px;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 42px;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
}
h5{
    font-family: 'Playfair Display', serif;
    font-weight: 500; 
}
body,.default-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.subtitle{
    font-size: 22px;
}
strong{
    font-weight: 500;
}
.caption{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: gray;
}
.active{
    color:  #A54E4E;
    cursor: pointer;
}
.grid-row{
    display: grid;
    grid-template-rows: repeat(3, auto);
}
.grid-column{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 24px;
}
.grid-column-book{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 24px;
}
.fixed{
    position:fixed;
}
@media  (max-width: 1200px) {
    h1{
        margin-top: 25%;
    }
    .grid-column{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .grid-row{
        gap:2%;
    }
    .fixed{
       position: relative;
       top: 100;
       display: flex;
       align-items: flex-end;
    }
    .grid-column-book{
        display: flex;
        flex-wrap: wrap;
    }
  }
.vertical-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.horizontal-align{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.center-align{
    text-align: center;
}
.left-align{
    text-align: left;
}
.no-fill{
    background: white;
    border: 1px solid #A54E4E;
    color: #A54E4E;
}
.fill{
    border: none;
    background: #A54E4E;
    color: white;
}
input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
button{
    margin-top: 8px;
    padding: 0.5em;
}
.button-chip{
    height: 8vh;
    min-width: 12vw;
    border-radius: 100px;
    background: none;
}
.button-medium{
    height: 72px;
    min-width: 292px;
    border-radius: 5px;
    cursor: pointer;
}
.button-large{
    height: 72px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.spacing{
    margin-bottom: 1em;
}
.top,.mid,.row{
    grid-row: span 1;
    margin-bottom: 8vh;
}
.large-box{
    grid-column: span 2;
    background: #F2F0E8;
    width: 100%;
    border: 1px solid black;
    position: relative;
    top: -100px;
    z-index: -1;
}
.small-box{
    grid-column: span 4;
    background: white;
    border: 1px solid black;
    min-height: 24vh;
    padding: 1.5em;
}